/* --------------------------------------
@Author:         CodeClone
@URL: http://themeforest.net/user/cc_theme

COLOR : Blue
COLOR CODE: #735CB0
----------------------------------------- */
/* text-theme-color */
.text-tc {
  color: #735CB0 !important;
}
.widget .twitter-feed li::after {
  color: #735CB0;
}
/* text-hover-theme-color */
.text-hover-theme-colored:hover {
  color: #735CB0 !important;
}
/* background-theme-color */
.bg-tc {
  background-color: #735CB0 !important;
}
/* bg-hover-theme-color */
.bg-hover-theme-colored:hover {
  background: #735CB0 !important;
  border-color: #735CB0 !important;
  color: #fff !important;
}
.bg-hover-theme-colored:hover h1,
.bg-hover-theme-colored:hover h2,
.bg-hover-theme-colored:hover h3,
.bg-hover-theme-colored:hover h4,
.bg-hover-theme-colored:hover h5,
.bg-hover-theme-colored:hover h6,
.bg-hover-theme-colored:hover p,
.bg-hover-theme-colored:hover a,
.bg-hover-theme-colored:hover i {
  color: #fff !important;
}
.portfolio-filter a.active,
.portfolio-filter a:hover {
  background: #735CB0;
}
.pagination.theme-colored li.active a {
  background: #735CB0;
  color: #fff !important;
}
.pagination.theme-colored > li > a,
.pagination.theme-colored > li > span {
  color: #735CB0 !important;
}
/* box-shadow */
.box-shadow,
.icon-box .icon.icon-border-effect::after {
  -webkit-box-shadow: #735CB0;
  -moz-box-shadow: #735CB0;
  box-shadow: 0 0 0 3px #735CB0;
}
.outline-border,
.clients-logo img {
  outline: 2px solid;
  outline-offset: 5px;
}
.outline-border {
  outline-color: #735CB0;
}
/* border-theme-color */
.border-tc {
  border-color: #735CB0 !important;
}
.border-top-theme-colored {
  border-top: 1px solid #735CB0 !important;
}
.border-bottom-theme-colored {
  border-bottom: 1px solid #735CB0 !important;
}
/* background-color-transparent */
.bg-tc-transparent,
.post .entry-meta.meta-absolute,
.schedule-box .thumb .overlay {
  background-color: rgba(115, 92, 176, 0.8) !important;
}
/*
 * background: theme-color
 * -----------------------------------------------
*/
.sidebar-widget .tags a:hover,
.sidebar .tags a:hover,
.drop-caps .colored-square,
.horizontal-tab-centered .nav-pills > li > a:hover,
.nav-pills > li > a:hover,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.table.table-bordered.class-time td:hover,
.line-bottom::after,
.icon-switcher {
  background: #735CB0;
}
.stylish-header,
.stylish-header:before {
  background: rgba(115, 92, 176, 0.9);
}
.service-icon-box a {
  background: rgba(115, 92, 176, 0.9);
}
.service-icon-box:hover a {
  background: rgba(115, 92, 176, 0.95);
}
.testimonial.style1 .comment {
  background: rgba(115, 92, 176, 0.85);
}
.tag-sale {
  background-color: #735CB0;
}
/*
 * text: theme-color
 * -----------------------------------------------
*/
.title,
ul.list li::before,
.post .entry-content .entry-title {
  color: #735CB0;
}
/*
 * border: theme-color
 * -----------------------------------------------
*/
.clients-logo img {
  border: 1px solid #735CB0;
}
.lll {
  border: #735CB0;
}
.border-10px {
  border: 10px solid #735CB0;
}
/* border-left-color */
blockquote {
  border-left: 3px solid #735CB0;
}
/* border-top-color */
.stylish-header:after {
  -webkit-border-top: 80px solid #7963b3;
  -moz-border-top: 80px solid #7963b3;
  -ms-border-top: 80px solid #7963b3;
  -o-border-top: 80px solid #7963b3;
  border-top: 80px solid #7963b3;
}
/*
 * btn-default: theme-color
 * -----------------------------------------------
*/
.btn-default.btn-tc {
  color: #735CB0;
  background-color: #fff;
  border-color: #735CB0;
}
.btn-default.btn-tc:focus,
.btn-default.btn-tc.focus {
  color: #735CB0;
  background-color: #e6e6e6;
  border-color: #3b2e5f;
}
.btn-default.btn-tc:hover {
  color: #735CB0;
  background-color: #e6e6e6;
  border-color: #57448b;
}
.btn-default.btn-tc:active,
.btn-default.btn-tc.active,
.open > .dropdown-toggle.btn-default.btn-tc {
  color: #735CB0;
  background-color: #e6e6e6;
  border-color: #57448b;
}
.btn-default.btn-tc:active:hover,
.btn-default.btn-tc.active:hover,
.open > .dropdown-toggle.btn-default.btn-tc:hover,
.btn-default.btn-tc:active:focus,
.btn-default.btn-tc.active:focus,
.open > .dropdown-toggle.btn-default.btn-tc:focus,
.btn-default.btn-tc:active.focus,
.btn-default.btn-tc.active.focus,
.open > .dropdown-toggle.btn-default.btn-tc.focus {
  color: #735CB0;
  background-color: #d4d4d4;
  border-color: #3b2e5f;
}
.btn-default.btn-tc:active,
.btn-default.btn-tc.active,
.open > .dropdown-toggle.btn-default.btn-tc {
  background-image: none;
}
.btn-default.btn-tc.disabled:hover,
.btn-default.btn-tc[disabled]:hover,
fieldset[disabled] .btn-default.btn-tc:hover,
.btn-default.btn-tc.disabled:focus,
.btn-default.btn-tc[disabled]:focus,
fieldset[disabled] .btn-default.btn-tc:focus,
.btn-default.btn-tc.disabled.focus,
.btn-default.btn-tc[disabled].focus,
fieldset[disabled] .btn-default.btn-tc.focus {
  background-color: #fff;
  border-color: #735CB0;
}
.btn-default.btn-tc .badge {
  color: #fff;
  background-color: #735CB0;
}
.btn-default.btn-tc:hover,
.btn-default.btn-tc:active,
.btn-default.btn-tc:focus {
  background-color: #735CB0;
  border-color: #735CB0;
  color: #fff;
}
/*
 * btn-border
 * -----------------------------------------------
*/
.btn-border.btn-tc {
  color: #735CB0;
  background-color: #fff;
  border-color: #735CB0;
}
.btn-border.btn-tc:focus,
.btn-border.btn-tc.focus {
  color: #735CB0;
  background-color: #e6e6e6;
  border-color: #3b2e5f;
}
.btn-border.btn-tc:hover {
  color: #735CB0;
  background-color: #e6e6e6;
  border-color: #57448b;
}
.btn-border.btn-tc:active,
.btn-border.btn-tc.active,
.open > .dropdown-toggle.btn-border.btn-tc {
  color: #735CB0;
  background-color: #e6e6e6;
  border-color: #57448b;
}
.btn-border.btn-tc:active:hover,
.btn-border.btn-tc.active:hover,
.open > .dropdown-toggle.btn-border.btn-tc:hover,
.btn-border.btn-tc:active:focus,
.btn-border.btn-tc.active:focus,
.open > .dropdown-toggle.btn-border.btn-tc:focus,
.btn-border.btn-tc:active.focus,
.btn-border.btn-tc.active.focus,
.open > .dropdown-toggle.btn-border.btn-tc.focus {
  color: #735CB0;
  background-color: #d4d4d4;
  border-color: #3b2e5f;
}
.btn-border.btn-tc:active,
.btn-border.btn-tc.active,
.open > .dropdown-toggle.btn-border.btn-tc {
  background-image: none;
}
.btn-border.btn-tc.disabled:hover,
.btn-border.btn-tc[disabled]:hover,
fieldset[disabled] .btn-border.btn-tc:hover,
.btn-border.btn-tc.disabled:focus,
.btn-border.btn-tc[disabled]:focus,
fieldset[disabled] .btn-border.btn-tc:focus,
.btn-border.btn-tc.disabled.focus,
.btn-border.btn-tc[disabled].focus,
fieldset[disabled] .btn-border.btn-tc.focus {
  background-color: #fff;
  border-color: #735CB0;
}
.btn-border.btn-tc .badge {
  color: #fff;
  background-color: #735CB0;
}
.btn-border.btn-tc:hover,
.btn-border.btn-tc:active,
.btn-border.btn-tc:focus {
  background-color: #5b4792;
  border-color: #5b4792;
  color: #fff;
}
/*
 * btn-dark
 * -----------------------------------------------
*/
.btn-dark.btn-tc {
  color: #fff;
  background-color: #735CB0;
  border-color: #735CB0;
}
.btn-dark.btn-tc:focus,
.btn-dark.btn-tc.focus {
  color: #fff;
  background-color: #5b4792;
  border-color: #3b2e5f;
}
.btn-dark.btn-tc:hover {
  color: #fff;
  background-color: #5b4792;
  border-color: #57448b;
}
.btn-dark.btn-tc:active,
.btn-dark.btn-tc.active,
.open > .dropdown-toggle.btn-dark.btn-tc {
  color: #fff;
  background-color: #5b4792;
  border-color: #57448b;
}
.btn-dark.btn-tc:active:hover,
.btn-dark.btn-tc.active:hover,
.open > .dropdown-toggle.btn-dark.btn-tc:hover,
.btn-dark.btn-tc:active:focus,
.btn-dark.btn-tc.active:focus,
.open > .dropdown-toggle.btn-dark.btn-tc:focus,
.btn-dark.btn-tc:active.focus,
.btn-dark.btn-tc.active.focus,
.open > .dropdown-toggle.btn-dark.btn-tc.focus {
  color: #fff;
  background-color: #4c3b7a;
  border-color: #3b2e5f;
}
.btn-dark.btn-tc:active,
.btn-dark.btn-tc.active,
.open > .dropdown-toggle.btn-dark.btn-tc {
  background-image: none;
}
.btn-dark.btn-tc.disabled:hover,
.btn-dark.btn-tc[disabled]:hover,
fieldset[disabled] .btn-dark.btn-tc:hover,
.btn-dark.btn-tc.disabled:focus,
.btn-dark.btn-tc[disabled]:focus,
fieldset[disabled] .btn-dark.btn-tc:focus,
.btn-dark.btn-tc.disabled.focus,
.btn-dark.btn-tc[disabled].focus,
fieldset[disabled] .btn-dark.btn-tc.focus {
  background-color: #735CB0;
  border-color: #735CB0;
}
.btn-dark.btn-tc .badge {
  color: #735CB0;
  background-color: #fff;
}
/*
 * btn-gray
 * -----------------------------------------------
*/
.btn-gray.btn-tc {
  color: #fff;
  background-color: #917ec1;
  border-color: #917ec1;
}
.btn-gray.btn-tc:focus,
.btn-gray.btn-tc.focus {
  color: #fff;
  background-color: #735cb0;
  border-color: #513f81;
}
.btn-gray.btn-tc:hover {
  color: #fff;
  background-color: #735cb0;
  border-color: #6d55ad;
}
.btn-gray.btn-tc:active,
.btn-gray.btn-tc.active,
.open > .dropdown-toggle.btn-gray.btn-tc {
  color: #fff;
  background-color: #735cb0;
  border-color: #6d55ad;
}
.btn-gray.btn-tc:active:hover,
.btn-gray.btn-tc.active:hover,
.open > .dropdown-toggle.btn-gray.btn-tc:hover,
.btn-gray.btn-tc:active:focus,
.btn-gray.btn-tc.active:focus,
.open > .dropdown-toggle.btn-gray.btn-tc:focus,
.btn-gray.btn-tc:active.focus,
.btn-gray.btn-tc.active.focus,
.open > .dropdown-toggle.btn-gray.btn-tc.focus {
  color: #fff;
  background-color: #624c9c;
  border-color: #513f81;
}
.btn-gray.btn-tc:active,
.btn-gray.btn-tc.active,
.open > .dropdown-toggle.btn-gray.btn-tc {
  background-image: none;
}
.btn-gray.btn-tc.disabled:hover,
.btn-gray.btn-tc[disabled]:hover,
fieldset[disabled] .btn-gray.btn-tc:hover,
.btn-gray.btn-tc.disabled:focus,
.btn-gray.btn-tc[disabled]:focus,
fieldset[disabled] .btn-gray.btn-tc:focus,
.btn-gray.btn-tc.disabled.focus,
.btn-gray.btn-tc[disabled].focus,
fieldset[disabled] .btn-gray.btn-tc.focus {
  background-color: #917ec1;
  border-color: #917ec1;
}
.btn-gray.btn-tc .badge {
  color: #917ec1;
  background-color: #fff;
}
/*
 * btn-primary: theme-color
 * -----------------------------------------------
*/
.btn-tc {
  color: #fff;
  background-color: #735CB0;
  border-color: #735CB0;
}
.btn-tc:focus,
.btn-tc.focus {
  color: #fff;
  background-color: #5b4792;
  border-color: #3b2e5f;
}
.btn-tc:hover {
  color: #fff;
  background-color: #5b4792;
  border-color: #57448b;
}
.btn-tc:active,
.btn-tc.active,
.open > .dropdown-toggle.btn-tc {
  color: #fff;
  background-color: #5b4792;
  border-color: #57448b;
}
.btn-tc:active:hover,
.btn-tc.active:hover,
.open > .dropdown-toggle.btn-tc:hover,
.btn-tc:active:focus,
.btn-tc.active:focus,
.open > .dropdown-toggle.btn-tc:focus,
.btn-tc:active.focus,
.btn-tc.active.focus,
.open > .dropdown-toggle.btn-tc.focus {
  color: #fff;
  background-color: #4c3b7a;
  border-color: #3b2e5f;
}
.btn-tc:active,
.btn-tc.active,
.open > .dropdown-toggle.btn-tc {
  background-image: none;
}
.btn-tc.disabled:hover,
.btn-tc[disabled]:hover,
fieldset[disabled] .btn-tc:hover,
.btn-tc.disabled:focus,
.btn-tc[disabled]:focus,
fieldset[disabled] .btn-tc:focus,
.btn-tc.disabled.focus,
.btn-tc[disabled].focus,
fieldset[disabled] .btn-tc.focus {
  background-color: #735CB0;
  border-color: #735CB0;
}
.btn-tc .badge {
  color: #735CB0;
  background-color: #fff;
}
/*
 * btn-transparent
 * -----------------------------------------------
*/
.btn-transparent {
  background-color: transparent;
  color: #fff;
}
.btn-transparent.btn-tc {
  background-color: transparent;
}
.btn-transparent.btn-dark {
  background-color: #111111;
  border-color: #111111;
}
.btn-transparent.btn-dark:hover {
  background-color: #000000;
  border-color: #000000;
}
.btn-transparent.btn-dark.btn-tc {
  background-color: #735CB0;
  border-color: #735CB0;
}
.btn-transparent.btn-dark.btn-tc:hover {
  background-color: #5b4792;
  border-color: #5b4792;
}
.btn-transparent.btn-border {
  background-color: transparent;
  border-color: #eeeeee;
}
.btn-transparent.btn-border:hover {
  background-color: #eeeeee;
  color: #000;
}
.btn-transparent.btn-border.btn-tc {
  background-color: transparent;
  border-color: #735CB0;
}
.btn-transparent.btn-border.btn-tc:hover {
  background-color: #735CB0;
  color: #fff;
}
.btn-gray.btn-transparent {
  background-color: #d3d3d3;
  color: #333333;
}
.btn-gray.btn-transparent:hover {
  background-color: #ececec;
  color: #1a1a1a;
}
.btn-gray.btn-transparent.btn-tc {
  background-color: #917ec1;
  color: #fff;
}
.btn-gray.btn-transparent.btn-tc:hover {
  background-color: #5b4792;
  color: #e6e6e6;
}
.btn-hover-theme-colored:hover {
  background-color: #735CB0;
  border-color: #735CB0;
  color: #fff;
}
/*
 * Shortcode: font-icons Theme Colored
 * -----------------------------------------------
*/
.icon-tc a {
  color: #735CB0;
}
.icon-tc.icon-bordered a {
  border-color: #735CB0;
}
.icon-tc.icon-bordered a:hover {
  background-color: #735CB0;
  color: #fff;
}
.icon-tc.icon-dark a {
  background-color: #735CB0;
  color: #fff;
}
.icon-tc.icon-dark a:hover {
  background-color: #5b4792;
  color: #e6e6e6;
}
.icon-tc.icon-dark.icon-bordered a {
  border-color: #735CB0;
  color: #735CB0;
}
.icon-tc.icon-dark.icon-bordered a:hover {
  background-color: #735CB0;
  border-color: #735CB0;
  color: #fff;
}
.icon-tc.icon-gray a {
  color: #735CB0;
}
.icon-tc.icon-gray a:hover {
  color: #5b4792;
}
.icon-tc.icon-gray.icon-bordered a {
  color: #735CB0;
}
.icon-tc.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #735CB0;
}
.icon-tc a:hover {
  color: #5b4792;
}
.icon-hover-theme-colored a:hover {
  background-color: #735CB0;
  border-color: #735CB0;
  color: #fff;
}
.font-icons.icon-hover-theme-colored a:hover {
  background-color: #735CB0;
  border-color: #735CB0;
  color: #fff;
}
/*
 * Shortcode: Icon Boxes Theme Colored
 * -----------------------------------------------
*/
.icon-box.iconbox-theme-colored .icon {
  color: #735CB0;
}
.icon-box.iconbox-theme-colored .icon.icon-border-effect::after {
  box-shadow: 0 0 0 3px #735CB0;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered {
  border-color: #735CB0;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered:hover {
  background-color: #735CB0;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray:hover {
  background-color: #735CB0;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered {
  border-color: #eeeeee;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered:hover {
  background-color: #735CB0;
  border-color: #735CB0;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark {
  background-color: #735CB0;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark:hover {
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered {
  background-color: transparent;
  border-color: #735CB0;
  color: #735CB0;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered:hover {
  background-color: #735CB0;
  border-color: #735CB0;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white {
  background-color: #fff;
  color: #735CB0;
}
.icon-box.iconbox-theme-colored .icon.icon-white:hover {
  background-color: #735CB0;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered {
  background-color: transparent;
  border-color: #735CB0;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered:hover {
  background-color: #735CB0;
  border-color: #735CB0;
  color: #fff;
}
.icon-box.iconbox-theme-colored.iconbox-border {
  border-color: #735CB0;
}
